# 과제 1

In [2]:
import numpy as np
import pandas as pd

In [3]:
from urllib.request import urlopen

In [4]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data'

# 출처: https://rfriend.tistory.com/392?category=675917 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]

In [5]:
downloaded_data  = urlopen(url)

In [6]:
abalone = pd.read_csv(downloaded_data, 
                      names = ['sex', 'length', 'diameter', 'height', 
                               'whole_weight', 'shucked_weight', 'viscera_weight', 
                               'shell_weight', 'rings'], 
                      header = None)

In [7]:
abalone.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [8]:
abalone['length_cat'] = np.where(abalone.length > np.median(abalone.length), 'length_long', 'length_short' )

In [9]:
abalone.groupby(['sex', 'length_cat'])['whole_weight'].mean()

sex  length_cat
F    length_long     1.261330
     length_short    0.589702
I    length_long     0.923215
     length_short    0.351234
M    length_long     1.255182
     length_short    0.538157
Name: whole_weight, dtype: float64

In [10]:
abalone.groupby(['sex', 'length_cat'])['whole_weight'].agg(['size', 'mean', 'std', 'min', 'max'])

                  size      mean       std     min     max
sex length_cat
F   length_long    889  1.261330  0.329656  0.6405  2.6570
    length_short   418  0.589702  0.202400  0.0800  1.3580
I   length_long    188  0.923215  0.218334  0.5585  2.0495
    length_short  1154  0.351234  0.204237  0.0020  1.0835
M   length_long    966  1.255182  0.354682  0.5990  2.8255
    length_short   562  0.538157  0.246498  0.0155  1.2825

In [11]:
grouped = abalone.groupby(['sex', 'length_cat'])
function_list = ['size', 'mean', 'std']
groupby_result = grouped['whole_weight', 'shell_weight'].agg(function_list)

C:\Users\hskyu\AppData\Local\Temp/ipykernel_7608/3027913820.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  groupby_result = grouped['whole_weight', 'shell_weight'].agg(function_list)

In [12]:
groupby_result

                 whole_weight                     shell_weight            \
                         size      mean       std         size      mean
sex length_cat
F   length_long           889  1.261330  0.329656          889  0.360013
    length_short          418  0.589702  0.202400          418  0.178650
I   length_long           188  0.923215  0.218334          188  0.273247
    length_short         1154  0.351234  0.204237         1154  0.104549
M   length_long           966  1.255182  0.354682          966  0.351683
    length_short          562  0.538157  0.246498          562  0.162141


                       std
sex length_cat
F   length_long   0.104014
    length_short  0.063085
I   length_long   0.064607
    length_short  0.061003
M   length_long   0.102636
    length_short  0.075629

In [14]:
groupby_result.loc['M']

             whole_weight                     shell_weight
                     size      mean       std         size      mean       std
length_cat
length_long           966  1.255182  0.354682          966  0.351683  0.102636
length_short          562  0.538157  0.246498          562  0.162141  0.075629

In [15]:
groupby_result.loc['M', 'shell_weight']

              size      mean       std
length_cat
length_long    966  0.351683  0.102636
length_short   562  0.162141  0.075629

In [25]:
def range_func(x):
    max_val = np.max(x)
    min_val = np.min(x)
    range_val = max_val - min_val
    return range_val

def iqr_func(x):
    q3, q1 = np.percentile(x, [75, 25])
    iqr = q3 - q1
    return iqr

In [26]:
grouped.agg({'whole_weight': ['size', 'mean', 'std'],
            'shell_weight': [('Range', range_func), ('Inter-Quartile_Range', iqr_func)]})

                 whole_weight                     shell_weight  \
                         size      mean       std        Range
sex length_cat
F   length_long           889  1.261330  0.329656        0.850
    length_short          418  0.589702  0.202400        0.378
I   length_long           188  0.923215  0.218334        0.485
    length_short         1154  0.351234  0.204237        0.349
M   length_long           966  1.255182  0.354682        0.776
    length_short          562  0.538157  0.246498        0.375


                 Inter-Quartile_Range
sex length_cat
F   length_long              0.127000
    length_short             0.080500
I   length_long              0.067875
    length_short             0.092750
M   length_long              0.124000
    length_short             0.102750

# 과제 2

In [24]:
df = pd.DataFrame({'grp_col_1' : ['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b'], 
                   'grp_col_2' : ['c', 'c', 'd', 'd', 'd', 'e', 'e', 'f', 'f', 'f'], 
                   'val_1' : np.arange(10),                   
                   'val_2' : np.random.randn(10)})

In [27]:
df

  grp_col_1 grp_col_2  val_1     val_2
0         a         c      0 -0.272110
1         a         c      1  1.672979
2         a         d      2 -1.411327
3         a         d      3 -0.074964
4         a         d      4 -0.567623
5         b         e      5 -1.363419
6         b         e      6 -0.237726
7         b         f      7 -0.108379
8         b         f      8 -0.647866
9         b         f      9 -0.374491

In [28]:
def func(x):
    d = {}
    d['val_1_mean'] = x['val_1'].mean()
    d['val_1_std'] = x['val_1'].std()
    d['val_2_max'] = x['val_2'].max()
    d['val_2_min'] = x['val_2'].min()
    d['val_2_range'] = x['val_2'].max() - x['val_2'].min()
    return pd.Series(d, index=['val_1_mean', 'val_1_std', 'val_2_max', 'val_2_min', 'val_2_range'])

In [29]:
func(df)

val_1_mean     4.500000
val_1_std      3.027650
val_2_max      1.672979
val_2_min     -1.411327
val_2_range    3.084306
dtype: float64

In [30]:
df.groupby(['grp_col_1', 'grp_col_2']).apply(func)

                     val_1_mean  val_1_std  val_2_max  val_2_min  val_2_range
grp_col_1 grp_col_2
a         c                 0.5   0.707107   1.672979  -0.272110     1.945090
          d                 3.0   1.000000  -0.074964  -1.411327     1.336363
b         e                 5.5   0.707107  -0.237726  -1.363419     1.125693
          f                 8.0   1.000000  -0.108379  -0.647866     0.539487

In [31]:
df.groupby(['grp_col_1', 'grp_col_2']).apply(func).reset_index()

,grp_col_1,grp_col_2,val_1_mean,val_1_std,val_2_max,val_2_min,val_2_range
0,a,c,0.5,0.707107,1.672979,-0.272110,1.945090
1,a,d,3.0,1.000000,-0.074964,-1.411327,1.336363
2,b,e,5.5,0.707107,-0.237726,-1.363419,1.125693
3,b,f,8.0,1.000000,-0.108379,-0.647866,0.539487

# 과제 3

In [33]:
df = pd.DataFrame({'grp_col' : ['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b'], 
                   'val' : np.arange(10)+1,                   
                   'weight' : [0.0, 0.1, 0.2, 0.3, 0.4, 0.0, 0.1, 0.2, 0.3, 0.4]})
df

  grp_col  val  weight
0       a    1     0.0
1       a    2     0.1
2       a    3     0.2
3       a    4     0.3
4       a    5     0.4
5       b    6     0.0
6       b    7     0.1
7       b    8     0.2
8       b    9     0.3
9       b   10     0.4

In [34]:
grouped = df.groupby('grp_col')

In [35]:
weighted_avg_func = lambda g:np.average(g['val'], weights=g['weight'])

In [37]:
grouped.apply(weighted_avg_func)

grp_col
a    4.0
b    9.0
dtype: float64

# 과제 4

In [38]:
np.random.seed(123)

df = pd.DataFrame({'grp': ['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b'],
                   'col_1': np.random.randn(8),
                   'col_2': np.random.randn(8)})

df.loc[[1, 6], ['col_1', 'col_2']] = np.nan

In [39]:
df

  grp     col_1     col_2
0   a -1.085631  1.265936
1   a       NaN       NaN
2   a  0.282978 -0.678886
3   a -1.506295 -0.094709
4   b -0.578600  1.491390
5   b  1.651437 -0.638902
6   b       NaN       NaN
7   b -0.428913 -0.434351

In [40]:
df.groupby('grp').apply(lambda x:x.fillna(x.mean()))

C:\Users\hskyu\AppData\Local\Temp/ipykernel_7608/519922209.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.groupby('grp').apply(lambda x:x.fillna(x.mean()))

      grp     col_1     col_2
grp
a   0   a -1.085631  1.265936
    1   a -0.769649  0.164114
    2   a  0.282978 -0.678886
    3   a -1.506295 -0.094709
b   4   b -0.578600  1.491390
    5   b  1.651437 -0.638902
    6   b  0.214641  0.139379
    7   b -0.428913 -0.434351

In [45]:
df = pd.DataFrame({'group_1': ['a', 'a', 'a', 'a', 'a',  
                             'b', 'b', 'b', 'b', 'b',], 
                 'group_2': ['c', 'c', 'c', 'd', 'd', 
                             'e', 'e', 'e', 'f', 'f'], 
                  'col': [1, 2, np.NaN, 4, np.NaN, 
                          6, 7, np.NaN, 9, 10]})
df

  group_1 group_2   col
0       a       c   1.0
1       a       c   2.0
2       a       c   NaN
3       a       d   4.0
4       a       d   NaN
5       b       e   6.0
6       b       e   7.0
7       b       e   NaN
8       b       f   9.0
9       b       f  10.0

In [46]:
df['count_col'] = df.groupby(['group_1', 'group_2']).col.transform('count')

In [47]:
df['count_col'] = df.groupby(['group_1', 'group_2']).col.transform('sum')

In [48]:
 df['max_col'] = df.groupby(['group_1', 'group_2']).col.transform('max')

In [49]:
df

  group_1 group_2   col  count_col  max_col
0       a       c   1.0        3.0      2.0
1       a       c   2.0        3.0      2.0
2       a       c   NaN        3.0      2.0
3       a       d   4.0        4.0      4.0
4       a       d   NaN        4.0      4.0
5       b       e   6.0       13.0      7.0
6       b       e   7.0       13.0      7.0
7       b       e   NaN       13.0      7.0
8       b       f   9.0       19.0     10.0
9       b       f  10.0       19.0     10.0